# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Stream Video
NEXT_PUBLIC_STREAM_API_KEY=
STREAM_SECRET_KEY=

# Optional base URL for links and metadata routes
NEXT_PUBLIC_BASE_URL=http://localhost:3000
